*{
    box-sizing: border-box;
    margin: 0;
      padding: 0;
    user-select: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #b2b2b2;
    font-family: monospace;
}
.container{
    position: relative;
     width: 450px;
    text-align: center;
}
.container h1{
    font-size: 2.5rem;
      color: #333;
}
.container input{
    position: relative;
    width: 100%;
    height: 60px;
    border: none;
    margin: 15px 0px 20px;
    background-color: #f5f5f5;
     outline: none;
    padding: 0 40px;
